body{background-color: #969fee;}
header {background-color: #89b7e2;}
.head-img {width:10%;}
.head-img {height: 5%;}

.rodape {background-color: aliceblue;}


.head
.lista-menu{display: none}
.container__botao:checked ~.lista-menu{display:block}

.estudante-todos{
display: grid;
grid-template-columns: 20% 20% 20% 20% 20%;
}

