body{background-color: #8B54FF;}
header {background-color: #8B54FF;}
.head-img {width:10%;}
.head-img {height: 5%;}

.rodape {background-color: aliceblue;}
.estudante-imagem {width: 10%;}

.head
.lista-menu{display: none}
.container__botao:checked ~.lista-menu{display:block}



