body{background-color: #969fee;}
header {background-color: #79b8f3;}
.head-img {width:10%;}
.head-img {height: 5%;}

.rodapé {background-color: #79b8f3;}


.head{
display: flex;
justify-content: space-around;
align-items: center;
padding: 24px 0;
}
.lista-menu{display:24px}
.container__botao:checked ~.lista-menu{display:block}

.estudante-todos{
display: grid;
grid-template-columns: 20% 20% 20% 20% 20%;
}

